.navButton {
  border: none;
  padding: 0 12px;
  font-weight: bold;
  opacity: 100%;
  background-color: transparent;
}

.navButton.selected {
  color: white;
}

.navButton:hover {
  background-color: darkorange;
}

.navButtons {
  display: flex;
  justify-content: flex-start;
}

.navButtons.column {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.navButtons.column > .navButton {
  padding: 12px;
}

.navButtons.row {
  flex-direction: row;
  padding-left: 20px;
}
